#ab{margin-top: -300px;
margin-left: 800px;}
#cd{margin-left: 830px;}
#gh{margin-top: -55px;
margin-left: 277px;}
#df{margin-left: 176px;}
.efg{margin-left: 90px;}
#rt{margin-left: 90px;}
body{background-image: url(file:///C:/Users/dell/AppData/Local/Temp/Rar$DIa0.196/bg-desktop.svg);}